<a href="https://colab.research.google.com/github/Kimeungseok/Kimeungseok/blob/main/Python_basic3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print 활용 #

print는 정수, 실수, 문자열 출력
문자열은 '', "" 사용함

In [ ]:
# 문자열 출력 #

print('Kim Eung Seok')
print("Choi's Birthday")
print('"화이팅!!"')
print('C:\windows')

# \t(tab), \n(줄바꿈) #

print('안녕하세요. \n만나서\t반갑습니다.\n좋은 시간 되세요')

# , 이용하여 여러값 출력 #

print('월요일','화요일','수요일')

# sep=""을 활용하여 문자 사이 구분 #

print('Kim','Lee','park', sep='/')

# 두 개 문자를 한 행에 출력, end="" #

print('first',end=" ");print('second')

# 연산 결과 출력 #

print(round(5/3,2))

a = float(7/6)
print(round(a,2))

## 변수 종류 ##

In [ ]:
# 주가와 보유 주수 물어보고 평가 금액 계산하기 #
# format(수,',d) --> 천단위 구분 #

n1 = int(input('현재 가격은 얼마입니까?  '))
n2 = int(input('보유하고 있는 주식수는 ?  '))

T_Amount = n1 * n2

print('현재 평가금액은', format(T_Amount, ',d'), '원 입니다.')

print(type(T_Amount))

In [35]:
# 월금액, 납입 개월 수 입력 후 총 금액 출력 #'


n10 = int(input('월 납입액은 얼마입니까?  '))
n20 = int(input('납입개월 수는 ?  '))

T10_Amount = n10 * n20

print('전체금액은', format(T10_Amount, ',d'), '원 입니다.')

print(type(T_Amount))

월 납입액은 얼마입니까?  48584
납입개월 수는 ?  24
전체금액은 1,166,016 원 입니다.
<class 'int'>

In [ ]:
# 변수 Type 변경 #

num_str = "8760"
n1 = 1234

print(type(num_str),end=" ");print(type(num_int))
num_int = int(num_str)
n1_str = str(n1)

print(type(n1),end=" ");print(type(n1_str))

n2 = "15.79"
n2_float = float(n2)

print(type(n2),end=" ");print(type(n2_float))

year = '2020'
print(int(year))
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

## 파이썬 문자열 ##

문자열 자체는 변환할 수 없고, 새로운 변수로 재정의해야 함.

In [44]:
# 문자열 인덱싱, 한 글자씩 =[], 0에서 시작 #
letter = 'korean'
print(letter[0],letter[2])
print(letter[-4:])              # 뒤에서 4번째 문자부터
print(letter[:3])               # 앞에서 3번째 문자까지

k r
rean
kor

In [ ]:
# 간격을 주고 문자 추출 = string{::2}  #

letter1 = "1212121212"
letter2 = '123123123123'

print(letter1[::3])
print(letter2[::3])

# 문자열 뒤집기 #

print(letter2[::-1])

# 문자열 치환 = replace #

letter3 = letter2.replace('3','4')
print(letter3)

# 문자열 분리 = split #

url = 'http://wexi.kr'
url_s = url.split('.')
print(url)
print(url_s[-1])
print(url_s[-2])
print(url_s)

In [69]:
# 문자열 더하기, 곱하기 #

n5 = "10"
n6 = "20"

n56 = n5 + ' ' + n6 +' '
n56_times_10 = 10 * n56
print(n56)
print(n56_times_10)

print('='*80)

10 20
10 20 10 20 10 20 10 20 10 20 10 20 10 20 10 20 10 20 10 20
================================================================================

In [ ]:
# 문자열 출력 #

name1 = '김현지'
age1 = 26
name2 = '김예린'
age2 = 25

#%s, %d 활용 #

print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))
print()

# format 메서드 활용  - {} 표시하면 됨 #

print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))
print()

# f-string 이용 #

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

In [ ]:
# 문자에 공백 없애기 - strip #

letter10 = '   LG    '
letter10_st = letter10.strip()

print(letter10)
print(letter10_st)

In [ ]:
# 문자열을 대문자로 바꾸기 - upper, capitalize #
# 문자열을 소문자로 바꾸기 - lower #

letter20 = 'bts'
letter20_u = letter20.upper()

letter30 = 'usa'
letter30_c = letter30.capitalize()

letter40 = 'KOREA'
letter40_l = letter30.lower()

print(letter20)
print(letter20_u)
print()
print(letter30)
print(letter30_c)
print()
print(letter40)
print(letter40_l)

In [90]:
# 문자의 확인 - endswith, startwith #

file1 = '보고서.ppt'
file1.endswith('ppt')

print()

# 문자의 구분 #

letter50 ='Hi Everybody'
letter60 = '010-123-7658'
letter50.split()
letter60.split('-')

['010', '123', '7658']